doctype html
head
  title  
div(style='\
background-color:white;\
box-shadow: 0 0 20px rgba(164, 164, 164, 0.3);\
border-radius: 8px;\
padding: 10px;\
margin: 0 auto;\
width: 96%;\
color: black;\
font-size: 16px;\
line-height: 1.4;\
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;\
')
  p  Elan, we did it! Another ticket sold and transferred! Please send #{price} to #{venmo}.
