{% extends "layout.html" %}

{% block body %}

<div class="login-container forgot-password">
  <h2 class="logo"> TicketChange </h2>


  <div class="login-form-container shadow-background">

    <h3> Recover Account </h3>

    <p> We've confirmed your email and you can now reset your password below </p>

    <form action={{link}} method="POST">
      <div class="form-group">
        <input name ="password" type="password" class="form-control" placeholder="password">
        <div>
          <button class = "change-password-btn"> Change Password </button>
        </div>
      </div>
  </div>



  {% endblock %}
