{% extends 'layout.html' %}
{% block body %}

<div id="checkout-container">
  <div id="payment-container">
    <h1> Awesome {{current_user.first}}! Happy you found a ticket</h1> <br>
    <form id="payment-form" method="post" action="/validation">
      <section>
        <div class="bt-drop-in-wrapper">
          <div id="bt-dropin"></div>
        </div>
      </section>

      <input type="hidden" id="nonce" name="payment_method_nonce" />
      <button class = "payment-button">Make Payment</button>
    </form>
  </div>





  <div id="order-container" class="shadow-background">
    <h2> My Order </h2>
    <p class="ticket"> 1 x {{chosen_ticket.game}} </p>
    <p class="total-bar"> ________________________________________</p>
    <h4> Order Total: ${{chosen_ticket.price}}</h4>
  </div>
</div>








<script src="https://js.braintreegateway.com/web/dropin/1.22.1/js/dropin.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>

  //Disabling payment button after user pays
  $(document).ready(function () {
    $("#payment-form").submit(function () {
        $(".payment-button").attr('disabled', true);
        return true;
    });
  });


  //Braintree JS
  var form = document.querySelector('#payment-form');
  var client_token = '{{ client_token }}';

  braintree.dropin.create({
    authorization: client_token,
    container: '#bt-dropin'
  }, function(createErr, instance) {
    form.addEventListener('submit', function(event) {
      instance.requestPaymentMethod(function(err, payload) {
        if (err) {
          console.log('Error', err);
          return;
        }

        // Add the nonce to the form and submit
        document.querySelector('#nonce').value = payload.nonce;
        form.submit();
      });
    });
  });
</script>


{% endblock %}
