{% extends "layout.html" %}

{% block body %}

<div class="login-container forgot-password">
  <h2 class="logo"> TicketChange </h2>


  <div class="login-form-container shadow-background">

    <h3> Recover Account </h3>

    <p> We'll send a password reset link to your email </p>

    <form action="/forgot-password" method="POST">
      <div class="form-group">
        <input name = "email" type="email" class="form-control" placeholder="Email">
        <div>
          <button> Send Email </button>
        </div>


      </div>

  </div>



  {% endblock %}
