{% extends "layout.html" %}

{% block body %}

{% if type == "buying" and matches != 0 %}
<div id="match-container">
  <h2> We found you a ticket for {{game}}</h2>

  {% for ticket in ticket_matches %}

    <div id="match-buyer-container" class="shadow-background">
      <h4> Price: ${{ticket.price}} </h4>
      <h4> Section: {{ticket.section}} </h4>
      <button onclick='location.href = "/checkout/{{ticket.id}}"'> Click here to buy</button>
    </div>

    {% endfor %}

    <div class="map-background">
      <img src="/static/images/big-house-map.jpg" alt="big-house-map">
    </div>

</div>



{% elif type == "buying" and matches == 0 %}

<div class="response-background shadow-background">
  <h2> We weren't able to find you an exact ticket right now </h2> <br>
  <h4> Try increasing your price. The least expensive ticket <br> listed for {{game}} is ${{min_price}} </h4>
  <button class="go-back-button" onclick="goBack()"> Try Again </button>

  <script>
    function goBack() {
      window.history.back();
    }
  </script>


{% elif type == "selling" %}


  <div class="response-background shadow-background">
    <h2> Thanks for listing your ticket for {{game}}, {{current_user.first}}! We're looking for a buyer right now </h2> <br>
    <h4> We'll email you when we've found the perfect buyer. Hang tight!</h4>
    <button class="go-back-button" onclick='location.href = "/"'> Back Home </button>
  </div>


{% endif %}

{% endblock %}
