doctype html
head
  title  
div(style='\
background-color:white;\
box-shadow: 0 0 20px rgba(164, 164, 164, 0.3);\
border-radius: 8px;\
padding: 10px;\
margin: 0 auto;\
width: 96%;\
color: black;\
font-size: 16px;\
line-height: 1.4;\
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;\
')
  p  Hey #{user.first_name}, 
  p
    | &#x2705;  We received your ticket purchase for #{ticket.game}. Thanks for buying through MasterSeats!
  p
    | &#xF4E9; You should have the ticket within 48 hours and we&apos;ll email you once it&apos;s been transfered to you via Michigan&apos;s transfer site: mgoblue.
  p  &#xF4AF; We won&apos;t pay the seller until you confirm you&apos;ve received the ticket. 
  p  Go Blue! 
  p  MasterSeats Team 
